@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --radius: 6px;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--Off-Black);
  font-size: 14px;
  color: var(--White);
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  font-family: inherit;
}
main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--Dark-Grey);
  border-radius: var(--radius);
  width: 335px;
  padding: 20px;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    img {
      border-radius: 50%;
      width: 100px;
      width: 90px;
      margin: 15px 0px 20px;
    }
    h2 {
      font-size: 17px;
      color: var(--Green);
  }
  p {
    color: #e6e6e6;
    margin: 15px 0px;
  }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    button {
      color: var(--White);
      background-color: var(--Grey);
      border-radius: var(--radius);
      font-weight: 700;
      transition-duration: 300ms;
      width: 285px;
      a {
        width: 100%;
        display: block;
        padding: 15px 20px;
      }
    }
    button:hover {
      background-color: var(--Green);
      color: var(--Dark-Grey);
    }
  }
}
